@font-face {
    font-family: 'Gotham';
    src: url('subset-Gotham-Medium.eot');
    src: url('subset-Gotham-Medium.eot?#iefix') format('embedded-opentype'),
        url('subset-Gotham-Medium.woff2') format('woff2'),
        url('subset-Gotham-Medium.woff') format('woff'),
        url('subset-Gotham-Medium.ttf') format('truetype'),
        url('subset-Gotham-Medium.svg#Gotham-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham';
    src: url('subset-Gotham-Bold.eot');
    src: url('subset-Gotham-Bold.eot?#iefix') format('embedded-opentype'),
        url('subset-Gotham-Bold.woff2') format('woff2'),
        url('subset-Gotham-Bold.woff') format('woff'),
        url('subset-Gotham-Bold.ttf') format('truetype'),
        url('subset-Gotham-Bold.svg#Gotham-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham';
    src: url('subset-Gotham-Book.eot');
    src: url('subset-Gotham-Book.eot?#iefix') format('embedded-opentype'),
        url('subset-Gotham-Book.woff2') format('woff2'),
        url('subset-Gotham-Book.woff') format('woff'),
        url('subset-Gotham-Book.ttf') format('truetype'),
        url('subset-Gotham-Book.svg#Gotham-Book') format('svg');
    font-weight: normal;
    font-style: normal;
}

