.fixed-nav {
	position: fixed;
	top: 50%;
	right: 25px;
	transform: translateY(-50%);
	z-index: 9;
}

.fixed-nav a {
	display: block;
	width: 15px;
	height: 15px;
	border-radius: 50%;
	background: rgba(0, 0, 0, 0.3);
	position: relative;
	text-decoration: none;
	margin-bottom: 15px;
	transition: all .3s;
	color:  $hover;
	mix-blend-mode: multiply;
	font-weight: 700;
	text-transform: uppercase;
	font-size: 13px;
}

.fixed-nav a:hover,
.fixed-nav a.active {
	color: $hover;
	background:  $hover;

}

.fixed-nav a span {
	transition: all .5s;
	position: absolute;
	right: -25px;
	opacity: 0;
	padding-top: 2px;
	font-family: $gotham;
	text-align: right;
}

.fixed-nav a:hover span,
.fixed-nav a.active span {
	right: 30px;
	opacity: 1;
}